body {
	margin: 0 0 0;
}

#main-container {
	/* height: 80%;
	overflow: hidden; */
	display: flex;
}

#main-empty-block-left {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 400px;
}

#sidebar {
	position: fixed;
	padding: 10px;
	background-color: #141419;
	color: #fff;
	width: 20%;
	min-width: 200px;
	max-width: 400px;
	height: 100%;
	overflow: auto;
}

.sidebar-block {
	/* color: #fff; */
	text-align: center;
} 

.sidebar-block-header {
	margin-top: 5%;
	background-color: #ea8220;
	/* text-align: center; */
}

.sidebar-block-entity {
	display: block;
	/* width: 100%; */
	color: #fff;
	/* text-align: center; */
	text-decoration: none;
	padding-top: 2%;
	padding-bottom: 2%;
}

.sidebar-block-entity:hover {
	color: #aaa;
	/* text-decoration: none; */
}

a, .sidebar-block, .article-name, .article-common, #search-area, #footer, .text-content-body .source-link, #category-pages {
	font-family: 'Roboto Condensed', sans-serif;
}

#footer {
	display: flex;
	background-color: #aaa;
	/* height: 20%; */
	padding: 30px;
	padding-right: 30px;
}

#footer-empty-block-left {
	width: 20%;
	min-width: 200px;
	max-width: 400px;
}

#footer-main-block {
	display: block;
	width: 63%;
	padding-left: 10%;
	padding-right: 5%;
}

#footer-content {
	display: flex;
	margin-bottom: 25px;
}

.footer-container {
	display: block;
	width: auto;
	margin-left: 18%;
	margin-right: 15%;
}

.footer-content-entity {
	display: block;
	color: #000;
	text-decoration: none;
	margin-bottom: 5px;
}

.footer-content-entity:hover {
	color: #222;
}

/*.footer-container > a {
	margin-bottom: 5px;
} */

#footer-additional-info {
	margin-top: 25px;
	text-align: right;
}

#footer-additional-info a {
	color: #000;
}

#footer-additional-info a:hover {
	color: #222;
}

#author-rights-routines {
	margin-bottom: 10px;
}

#text-container {
	display: inline-block;
	padding-left: 11%;
	padding-right: 5%;
	margin-bottom: 55px;
	width: 60%;
	height: 100%;
	min-height: 500px; 
	font-size: 14pt;
	hyphens: auto;
}

.text-content-body {
	margin-bottom: 25px;
}

.text-content-body a {
	color: #ea8220;
}

.text-content-body h1, h2, h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
}

.text-content-body img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.text-content-body, .text-content-body a {
	font-family: 'PT Serif', serif;
}

#text-container iframe {
	width: 100%;
	border: none;
}

.article-name {
	font-size: 40pt;
}

.article-common, .article-common > a {
	color: #4d4d4d;
}

.article-common > a:hover {
	color: #6d6d6d;
}

.print-version-button {
	vertical-align: middle;
}

#category-pages {
	color: #6d6d6d;
	text-align: center;
}

#category-pages a {
	color: #4d4d4d;
}

#category-pages a:hover {
	color: #6d6d6d;
}

#disqus_thread {
	margin-top: 25px;
}

#logo {
	padding-left: 15%;
	padding-right: 15%;
}

#search-area {
	color: #fff;
	background-color: #ea8220;
	border: 2px solid;
	border-radius: 10px;
	padding-left: 50px;
	width: 100%;
}

#search-icon {
	display: inline;
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: 15px;
	margin-top: 3px;
	background: url(../images/system/search.svg) no-repeat;
}

#logo > img {
	width: 70%;
	height: auto;
}

#mobile-menu {
	display: none;
	position: fixed;
	padding: 5px;
	background-color: #141419;
	width: 100%;
}

#logo-mobile {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

#menu-button {
	position: absolute;
	left: 10px;
	margin-top: auto;
	margin-bottom: auto;
	height: 50%;
}

#menu-button:hover {
	cursor: pointer;
}

#other {
	padding-bottom: 100px;
}

.text-content-body .source-link {
	color: #4d4d4d;
}

.text-content-body .source-link:hover {
	color: #6d6d6d;
}

@media screen and (max-width: 720px) {
	#sidebar {
		display: none;
		margin-top: 46px;
	}

	#logo {
		display: none;
	}

	#mobile-menu {
		display: flex;
	}

	#main-empty-block-left {
		display: none;
	}

	#main-container {
		display: block;
	}

	#text-container {
		margin-top: 58px;
		padding-left: 10%;
		padding-right: 10%;
		width: 80%;
		/* height: 100%; */
		font-size: 14pt;
	}

	.article-name {
		font-size: 30pt;
	}

	#footer-empty-block-left {
		display: none;
	}

	#footer-main-block {
		padding-left: 5%;
	}

	#footer-content {
		display: block;
	}

	.footer-container {
		margin-left: 0;
		margin-right: 0;
	}

	#footer-additional-info {
		text-align: left;
	}
}

@media screen and (max-width: 320px) {
	#text-container {
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
		font-size: 5vw;
	}
}

#sidebar {
	display: none;
}

#logo {
	display: none;
}

#main-empty-block-left {
	display: none;
}

#main-container {
	display: block;
}

#text-container {
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	/* height: 100%; */
}

#footer {
	display: none;
}

#disqus_thread {
	display: none;
}

.print-version-button {
	display: none;
}